.header {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  border-bottom: 2px solid rgba(248, 245, 245, 0.151);
}
.logoImage {
  cursor: none;
  margin-right: auto;
  margin-left: 20px;
}

.nav {
  display: flex;
  font-size: 1.1rem;
  margin-right: 8%;
  gap: 1.8rem;
}
.navLink {
  margin-right: 1rem;
  color: white;
  opacity: 0.9;
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;

}
.navLink:hover {
 color: white;
 transform: translateY(-1px);
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
 opacity: 1;
 background: none;
}

